* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --backColor:hsl(96, 10%, 30%);
    --mainColor:hsl(96, 50%, 60%);
    --mainColor2:hsl(216, 10%, 60%);
    --mainColor3:hsl(336, 50%, 60%);
    --subColor:hsl(96, 80%, 60%);
    --subColor2:hsl(96, 50%, 90%);
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    
    
}

#root {
    display: flex;
   /*  flex-grow: 1; */
    width: 100%;
    height: 100%;
    background-color: hsl(208, 10%, 20%);
    /* position: relative; */
    overflow: hidden;
}

main {
    display: flex;
    width: 100%;
    height: calc(100% - 10px);
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: hsl(208, 10%, 20%);
    color:var(--subColor2);
    padding-top: 20px;
    /* //color: #000; */
}

header > h1 {
    text-align: center;
    color:var(--subColor2);
    text-shadow: 0px 0px 20px var(--subColor);
}

header > .episode {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 20px;
    font-size: 1.3em;
}

header > .episode > input[type="number"], textarea {
    margin-left: 10px;
    text-align: center;
    background-color: var(--subColor2);
    color: var(--backColor);
    font-size: .9em;
    font-weight: bolder;
}

.Home {
    display: flex;
    width: 100%;
    height: calc(100%);
    overflow: hidden;
    overflow-y: scroll;
}

.empty, .load {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    flex-grow: 1;
    background-color: var(--backColor);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 350px;
    background-color: var(--mainColor);
    color: hsl(8, 10%, 0%);
    margin: 1px;
    padding: 5px;
}

.card.gray {
    background-color: var(--mainColor2);
}

.card.red {
    background-color: var(--mainColor3);
}

.card > div {
    width: 175px;
    height: 175px;
    position: relative;
}

.card > div > img {
    width: 100%;
    height: 100%;
}

.char-name {
    display: flex;
    flex-grow: 1;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.info {
    display: flex;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    white-space: wrap;
    margin: 5px 5px;
}

.info > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px .1em;
}

.info > *:nth-child(2) {
    background-color: aliceblue;
    color: #000;
}

.status {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: flex-end;
    font-size: 100%;
    font-weight: bolder;
    padding-bottom: 5px;
}

.status.red {
    background-color: hsla(8, 30%, 30%, 80%);
    text-decoration: line-through;
}

.status.gray {
    background-color: hsla(208, 10%, 30%, 80%);
}

.status > h3 {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    color:hsl(207, 10%, 17%);
    padding: 5px;
    margin: 0px 5px;
}

.status.red > h3 {
    background-color: hsla(8, 100%, 50%, 50%);
    text-decoration: line-through;
}

.status.gray > h3 {
    background-color: hsla(208, 0%, 30%, 50%);
}

.load {
    position: relative;
    user-select: none;
    pointer-events: none;
}

.load > h2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* color:hsl(208, 100%, 50%); */
    color: var(--subColor2);
    text-shadow:0 0 10px var(--subColor);
    font-family:sans-serif;
    font-size:30px;
    letter-spacing:4px;
    text-transform:uppercase;
    z-index: 10;
}

.load > h2 > span:nth-child(1) {
    display: flex;
    justify-content: center;
    animation: --animateRets 5s ease-in-out infinite;
    overflow: hidden;
}

.ring {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid hsla(208, 10%, 40%, 70%);;
  border-radius:50%;
  /* text-align:center;
  line-height:150px; */
  text-transform:uppercase;
  box-shadow:0 0 20px hsla(208, 10%, 30%, 80%);
}

.ring:before {
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  box-sizing: content-box;
  /* top: 0;
  left: 0; */
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid var(--subColor);
  border-right:3px solid var(--subColor);
  border-radius:50%;

  animation:animateRingC 2s linear infinite;
}

.ring > span {
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animateRing 2s linear infinite;
}

.ring > span:before {
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background: var(--subColor);
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px var(--subColor);
}

@keyframes animateRingC {
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}

@keyframes animateRing {
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}

@keyframes --animateRets {
    0%
    {
        transform:rotate3d(1, 0, .1, 360deg);
    }
    50%
    {
        transform:rotate3d(1, 0, .1, 0deg);
    }
    100%
    {
        transform:rotate3d(1, 0, .1, 0deg);
    }
}